::ng-deep  .snackBar-fail {
    color: #ffffff !important;
    background-color: #cc3333 !important;
}

::ng-deep .snackBar-success {
    color: #ffffff !important;
    background-color: #2ad138 !important;
}